{
  "extends": [
    "@atixlabs/eslint-config/configurations/react"
  ],
  "rules": {
    "camelcase": "off",
    "react/react-in-jsx-scope": "off",
    "unicorn/consistent-function-scoping": "off",
    "promise/catch-or-return": "off",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "pascalCase": true,
          "kebabCase": true,
          "camelCase": true
        }
      }
    ]
  },
  "settings": {
    "import/resolver" : {
      "alias": {
        "map": [
          ["components", "./src/components"],
          ["hooks", "./src/hooks"],
          ["service", "./src/service"],
          ["utils", "./src/utils"],
          ["views", "./src/views"],
          ["context", "./src/context"]
        ],
        "extensions": [".js"]
      }
    }
  }
}